/* selector universal */
*{
    padding: 0%;
    margin: 0%;
}

/* selector de etiqueta*/
body{
    padding: 10px;
    margin: 2%;
    background-color: #e6edd9;
    color: rgb(0, 0, 0);
}
/* selector de id */
#contenedor {
    margin: 10px;
    padding: 20px;
    background-color: #c3c4b2;
}
#encabezado {
    width: 70%;
    background-color: #869e68;
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}
#menu {
    height: 4%;
    background-color: #707070;
    margin: 1em;
    border-radius: 5px;
    
}
ul{
   text-align: center;
   padding: 10px;
}
li{
    color: white;
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a{
    color: rgb(240, 240, 240);
    text-decoration: none;
    list-style: none;
}
li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}
.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;

}
#contenido {
    height: 85%;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
.img{
    width: 58%;
    border-radius: 30px;
    justify-items: center;
}
.encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color: rgb(83,153,87);
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
}
#fueraSeccion{
    height: 85%;
    width: 35%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}
.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(89, 161, 81);
    color: white;
    margin: 1em 2em;
}
.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 2px;
    list-style: square;
    color: #000;
}
.lista-aside {
    padding: 20px;
}
.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    padding: 0 2px;
    color: #000;
}
#pie {
    height: 10px;
    background-color: #b5bf9a;
    margin: 1.5 em;
    text-align: center;
    padding: 5px;

}
#pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: #7e815b;
    
}

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    border: 2px solid;
    vertical-align: top;
}

.card:hover {

    max-width: 310px;
}
.card img {

    background-color: white;
}

.title {

    color: rgb(255, 255, 255);
    font-size: 18px;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-size: 30px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}
.menu .navbar ul li a:hover{
    color: rgb(255, 255, 255);
}
#menu{
    display: inline;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
@media(max-width: 99px){
.menu{
    padding: 30px;

}
.menu label {
    display: initial;
}
.encabezado{
    padding: 47px;
}
.menu .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #b5b5b5;
    display: none;

}

.menu .navbar ul li {
    width: 100%;
}
#menu:checked ~ .navbar {
    display: initial;
}
}

button {

    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.7;
}

/*
Flex-Box
*/

.contenedorFlex {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}