#con {
    width: 900px;
    height: 1000px;
    background-color: beige;
    margin: auto;
}
#en {
    height: 15%;
    color: white;
    background-color: rgb(3, 142, 3);
    display: flex;
    text-align: center;
    font-family: tahoma;
    justify-content: center ;
    border: 2px solid white;
}

#barra {
    height: 5%;
    color: white;
    background-color: rgb(3, 142, 3);
    border: 3px solid white;

    
}
#section {
    height: 70%;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(3, 142, 3);
    display: block;
    align-items: center;
}
#pieDePagina {
    height: 10%;
    background-color: rgb(253, 3, 3,0.927);
    display: flex;
    justify-content: center;
    border: 1px solid white;
}
.encabezado{
    font-family: Tahoma;
    text-align: center;
    color: white;
}

.barraNavegacion{
    font-family: Tahoma;
    font-size: medium;
    color: white;
}
.pieNavegacion {
    font-family: Tahoma;
    text-align: center;
    color: white;
}
.texto {
    font-family: Tahoma;
    text-align: justify;
    color: black;
}
.articulo{
    margin: auto;
    padding: 10px;
}
/*Selector de etiqueta*/
ul{
    text-align: center;
}
li{
    display: inline;
}
li a{
    font-size: small;
    font-family: tahoma;
    color: white;
    text-decoration: none;
    list-style: none;
}
.img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}