body{
    background-color: #395b52;
    color: white;
}
#encabezado {
    width: 70%;
    background-color: #365049;
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}
#menu {
    height: 1%;
    background-color: #43635a;
    margin: 1em;
    border-radius: 5px;
    
}
ul{
   text-align: center;
   padding: 10px;
}
li{
    color: white;
    display: inline-flex;
    padding: 15px 5px;
    margin: 3em;
}
li a{
    color: white;
    text-decoration: none;
    list-style: none;
}
li a:hover{
    color: rgb(25, 51, 120);
    text-decoration: none;
    list-style: none;
}
.texto {
    text-align: justify;
    font-family: tahoma;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(248, 248, 200);

}
#contenido {
    height: 85%;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}